<div class="pagination">
  @if (showInfo) {
    <div class="pagination-info">
      Mostrando {{ startItem }} - {{ endItem }} de {{ totalItems }}
    </div>
  }

  <div class="pagination-controls">
    <button
      class="pagination-button"
      [disabled]="currentPage === 1"
      (click)="onPrevious()"
      type="button">
      Anterior
    </button>

    @for (page of pages; track $index) {
      @if (page === -1) {
        <span class="pagination-ellipsis">...</span>
      } @else {
        <button
          class="pagination-button"
          [class.active]="page === currentPage"
          (click)="onPageChange(page)"
          type="button">
          {{ page }}
        </button>
      }
    }

    <button
      class="pagination-button"
      [disabled]="currentPage === totalPages"
      (click)="onNext()"
      type="button">
      Siguiente
    </button>
  </div>
</div>
