spring:
  application:
    name: banking-customer

  banner:
    location: classpath:application.banner
  profiles:
    active: ${CUSTOMER_SPRING_PROFILE:dev}

  datasource:
    url: ${CUSTOMER_SPRING_DATASOURCE_URL}
    username: ${CUSTOMER_SPRING_DATASOURCE_USERNAME}
    password: ${CUSTOMER_SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${CUSTOMER_DATASOURCE_MAX_POOL:20}
      minimum-idle: ${CUSTOMER_DATASOURCE_MIN_IDLE:10}
      idle-timeout: ${CUSTOMER_DATASOURCE_HIKARI_IDLE_TIMEOUT:600000}
      connection-timeout: ${CUSTOMER_DATASOURCE_HIKARI_CONN_TIMEOUT:30000}
      max-lifetime: ${CUSTOMER_DATASOURCE_HIKARI_MAX_LIFETIME:1800000}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        default_schema: core
        jdbc:
          time_zone: UTC
    open-in-view: false

  flyway:
    enabled: true
    schemas: core
    default-schema: core
    table: schema_history
    validate-on-migrate: true

  jackson:
    time-zone: UTC
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  rabbitmq:
    host: ${CUSTOMER_SPRING_RABBITMQ_HOST:localhost}
    port: ${CUSTOMER_SPRING_RABBITMQ_PORT:5672}
    username: ${CUSTOMER_SPRING_RABBITMQ_USERNAME:guest}
    password: ${CUSTOMER_SPRING_RABBITMQ_PASSWORD:guest}

server:
  port: ${CUSTOMER_SERVER_PORT:8081}

logging:
  level:
    root: ${CUSTOMER_LOGGING_ROOT_LEVEL:INFO}
    org.hibernate.SQL: ${CUSTOMER_LOGGING_HIBERNATE_SQL:WARN}
    org.hibernate.orm.connections.pooling: ${CUSTOMER_LOGGING_POOLING:ERROR}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

api:
  version: ${CUSTOMER_API_VERSION:v1}
  base-path: /api/${api.version}